<!-- {{ name }}: Це інтерполяція, яка відображає значення змінної name, передане через @Input.
	Наприклад, якщо name дорівнює 'Іван', на сторінці з’явиться <h2>Іван</h2>. -->

@if ( isAddingTask ) {
<app-new-task (cancel)="onCancelAddTask()" (add)="onAddtask($event)"/>
}

<section id="tasks">
  <header>
    <h2>{{ name }}</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
    @for (task of selectedUserTasks; track task.id) {
    <li>
      <app-task [task]="task" (complete)="onCompleteTask($event)" />
    </li>
    }
  </ul>
</section>
